* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
a{
  text-decoration: none;

}
ul{
  list-style: none;
}
.main-header {
  background-color: black;
  width: 100%;
  color: white;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
}

.logo{
  background-color: #009688;
  color: white;
 
}


nav{
  display: flex;
  align-items: center;
  justify-content: center;
  
  }
  nav ul{
    display: flex;
    list-style: none;
   
  }
.main-header a {
  text-decoration: none;
  color: white;
  
}

.main-header a:hover{
  color: black;
  background-color: white;
  cursor: pointer;
}
.main-header .logo:hover{
  background-color: #ccc;
  cursor: pointer;

}
.search-logo{
padding:8px 16px;
}
.search-logo:hover{
  background-color: #009688;
  cursor: pointer;
}
nav ul li{
  padding: 8px 16px;
}
#sailsBoat{
  background: url("./sailboat.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 35px;
  height:576px ;
  position: relative;
  
}
.sail-btn{
color: white;
background-color: black;
position: absolute;
bottom: 30px;
left: 30px;
display: flex;
justify-content: center;
align-items: center;

}
.sail-btn a{
  color: white;
  padding: 10px;
  font-size: 26px;
  text-transform: uppercase;
}
.sail-btn a:hover{
  background-color: #009688;
}

#team-container{
  background-color: white;
  line-height: 1.5;
  padding: 64px 16px;

}
.team-description{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;



}
#our-team{
  font-family: "Segoe UI",Arial,sans-serif;;
  font-size: 30px;
  margin-bottom: 10px 0;

}
.team-information{

  line-height: 1.5;
  display: flex;
  justify-content: space-around;
}
.person{

  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  
}
.person img{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-bottom: 10px;
  margin-top: 20px;
}
.person img:hover{
  opacity: 0.5;
}
.person h2{ 
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 15px;
}
#work-section{
  background-color: #333333;
  height:576px ;
  padding: 64px 8px;
  display: flex;
  column-gap: 15px;
  position: relative;
 
}
#plus-sign{
  background-color: #009688;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  bottom: -25px;
  right: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#plus-sign .fa-plus{
  font-size: 20px;
  font-weight: 400;
  color: white;
}
#plus-sign:hover{
  background-color: #ccc;
  cursor: pointer;
}
#plus-sign:hover .fa-plus{
  color: black;
}

.work-quarter{
  width: 25%;
  color: white;
 
}
 h2{
  font-family: "Segoe UI",Arial,sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin: 10px 0;
  
}
.nature-pic{

  width: 100%;
  height: 40%;
  display: block;

}
.wq-information{
  padding:10px 16px;
  background-color: white;
  color: black;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.wq-information p{
  margin-top: 15px;
}
h3{
  font-size: 24px;
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 400;
}
h4{
  font-size: 20px;
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 400;
}

.margin-left-7px{
  margin-left: 7px;

}
.margin-right-7px{
  margin-right: 7px;

}
#plans-section{

  padding: 64px 8px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;


}
.choose-pricing-p{
  margin-bottom: 30px;

}

.plans-container{
  display: flex;
  justify-content: space-between;
  column-gap: 15px;

}
.plan{
  width: 33.3%;
  border: 1px solid #ccc ;
}
.plan:hover{
  box-shadow: 2px 10px 30px 3px rgba(115,102,102,0.79);
}
.plan-feature{
  border-bottom: 1px solid #ccc ;
  padding: 15px 0;
}



.color-black{
  color: black;
}
.plan-title{
  background-color: black;
  color: white;
}
.pro{
  background-color: #666666;
}
.price{
  font-size: 30px;
  font-family: "Segoe UI",Arial,sans-serif;
  padding: 16px;

}
.price p{
  font-family: Verdana,sans-serif;;
  font-size: 15px;
  opacity: 0.60;

}
.button-box{
  background-color: #f0f0f0;
  padding:25px;
}

.button-box button{
  background-color: #009688;
  width: 32%;
  color: white;
  font-size: 15px;
  font-weight: 400;
  padding: 15px;
  border: 0;
}
.button-box button:hover{
  background-color: #ccc;
  color: black;
  cursor: pointer;

}
#contact-section{
  background-color: #f0f0f0;
 
  display: flex;
  padding: 64px 16px;
  column-gap: 15px;

}
.address{

  width: 50%;

}

.cu-text{
  display: inline-block;
  font-size: 26px;
  border-bottom: #009688 6px solid;
  margin-bottom: 15px;
  width: 145px;
}

.address i{
  font-size: 30px;
  color: #009688;
  margin-bottom: 15px;

  
}
.address{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.form-container{
  background-color: white;
  box-shadow: 0px -1px 21px -3px rgba(0,0,0,0.86);
  width: 50%;
  padding: 16px;

}
.form-container div{
  margin: 8px 0;
 
}
.f-input{
  width: 100%;
  min-height: 45px;
  border: none;
  border-bottom:solid 1px #666666;
}
.form-container label{
  font-size: 16px;
  font-weight: 400;
}
.checkbox{
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.left-ch{
  display: flex;
  align-items: center;
}
.submit-box{
  justify-content: space-between;
  display: flex;
  align-items: center;
  min-height: 60px;
}
.form-send-btn{
  padding: 8px 16px;
  color: white;
  background-color: black;
  font-size: 16px;
}
.form-send-btn:hover{
  background-color: #ccc;
  border: 2px solid #ccc;
  color: black;
  cursor: pointer;
}

#map{
 
  background: url("./map.jpg");
  height: 576px;
  background-size: cover;
  background-position: center;

}
footer{
  background-color: black;
  min-height: 260px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.follow-us{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
.w3-css-link{
  color: white;
  border-bottom: 1px white solid;
}
.social-medias-container{
  width: 270px;
  height:50px ;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sm-anchor{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #009688;
}
.sm-anchor:hover{
  background-color: #ccc;
  
}
.sm-anchor:hover .fa{
  color: black;
}
.social-medias-container .fa{
 color: white;
 font-size: 20px;
}

